*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;

}
.container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #ff4848, #978eff);
}
.head{
    color:  #e2c5c5;
    margin-bottom: 12px;
}
.boxcard{
    /* border: 1px solid black; */
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #c4bcff96;
    border-radius: 12px;

}
.inputsusr{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e1e2e7;
    overflow: hidden;
    border-radius: 30px;
        border: 3px solid #4f46e5;



    /* align-items: center; */
    
}
.inputsusr input{
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    overflow: hidden;
        /* border: 3px solid #4f46e5; */

    
}
.usrinps {
    width: 100%;
    height: 60px;
    font-size: 24px;
    padding: 10px;
    border-radius: 8px;
    /* border: 3px solid #4f46e5; */
    background-color: #e8ecfa;
    outline: none;
}


.grid {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.btn {
    background: #ffffff;
    border: 2px solid #bdbdbd;
    border-radius: 12px;
    height: 60px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
}


.btn:hover {
    background-color: #e0e7ff;
    border-color: #4678e574;
    color: #b770ea;
}

/* Clear button */
.clear {
    background: #ef4444;
    border-color: #ef4444;
    color: white;
}
.clear:hover {
    background: #dc2626;
}

/* Equal button */
.equal {
    background: #4f46e5;
    border-color: #4f46e5;
    color: white;
}
.equal:hover {
    background: #4338ca;
}
